<body>
<p>First Name: {{participant.firstName}}</p>
<p>Last Name: {{participant.lastName}}</p>
<p>Address: {{participant.address}}</p>
<p>Email: {{participant.email}}</p>
<p>School: {{participant.school}}</p>
<p>Topic Interest: {{participant.interests}}</p>

<a href="/catalog/Participant/{{participant._id}}/delete">Delete Current Participant</a>
<a href="/catalog/Participant/{{participant._id}}/update">Update Current Participant Details</a>
</body>
