<body>
<p>First Name: {{presenter.firstName}}</p>
<p>Last Name: {{presenter.lastName}}</p>
<p>Occupation: {{presenter.occupation}}</p>
<p>Topic: {{presenter.topic}}</p>
<p>Phone: {{presenter.mainPhone}}</p>
<p>Mobile: {{presenter.mobilePhone}}</p>
<p>Email: {{presenter.email}}</p>

<a href="/catalog/presenter/{{presenter._id}}/delete">Delete Current presenter</a>
<a href="/catalog/presenter/{{presenter._id}}/update">Update Current presenter Details</a>
</body>