<ul>
    {{#if room_list}}
    {{#each room_list}}
    <li><a href="/catalog/Room/{{_id}}">{{Location}}</a> | <a href="/catalog/Room/{{_id}}/update">Update</a>  <a href="/catalog/Room/{{_id}}/delete">Delete</a></li>
    {{/each}}
    {{else}}
        <h1>No Rooms available</h1>
    {{/if}}
</ul>
<a href="/catalog/Room/create">Create New room</a>