
<p>Topic Code: {{topic.topicCode}}</p>
<p>Topic: {{topic.title}}</p>
<p>Description: {{topic.description}}</p>

<a href="/catalog/Topic/{{topic._id}}/delete">Delete Current Topic</a>
<a href="/catalog/Topic/{{topic._id}}/update">Update Current Topic Details</a>
